@import url('https://fonts.googleapis.com/css2?family=Roboto

body {
     background-color: transparent;
     font-family: Roboto;
     color: #fff;
     font-weight: normal;
     font-size: 10px;
}

 a:link, a:visited {
     color: #c95199;
     text-decoration: none;
}
 a:active {
     color: #c95199;
     text-decoration: none;
}
 a:hover {
     color: #a9b9c4;
}
 td {
     font-family: Roboto;
     font-size: 10px;
     color: #999;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     padding-bottom: 0;
}
 b{
    color:#ffdead;
     text-decoration:none;
     height:6.5px;
}
 u{
    color:#c7b55d;
     text-decoration:none;
    letter-spacing: 0pt;
    border-bottom: 1px #E092AB solid;
}
 i{
    color:#febfc9;
     text-decoration:none;
     font-weight:bold;
}
 p, div {
     font-family: Roboto;
     font-size: 10px;
     color: #fff;
     background-color: transparent;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}


