<style>
::-webkit-scrollbar {
  width: 3px;
}


::-webkit-scrollbar-track {
  background: #ed7aa8; 
}
 

::-webkit-scrollbar-thumb {
  background: #FFB6C1; 
}

::-webkit-scrollbar-thumb:hover {
  background: #111; }
  
body {  background-color: transparent;
font-family: verdana;
color: #111;
font-weight: normal;
font-size: 10px;
}

p, i, div { font-family: verdana;
font-size: 10px; 
color: #111;
background-color: rgba(255,255,255,0.5);
padding-bottom: 0px
}

h2, h3 {
background-color: #ec79a8;
padding: 5px;
border: 2px;
border-style:solid;
border-color: #b35d87;
}

img {
	padding: 3px;
}
</style>

<p>hiiii my name is rina (yes, actually) i am that<br/> 
longsleeve-obsessed weirdo and also the biggest rina tennoji kinnie on the interwebs! you simply cannot argue this xD <br/> 
this is my small homepage for all the annoying things i like/do!</p>
<br/><br/><br/>
<h3>Jan-2-2022</h3>
<p>new day new - new update. <br/>while i can't promise to update here regularry, i'll try to post on here.<br/> 
yesterday wasn't that amazing, but what can you do? some days will always be better than the others ^-^ <br/>
all we can really do, is try our best for each day :3c
<br/>
<h3>Jan-1-2022</h3>
<p>new year new me? or wait, <br/>was it new year, new website? desing :think: <br/><br/>"new? but it looks like it's from 2007!"<br/>that's the <b>the point</b>, silly.
<br/>it's supposed to look like that!</p>