<style>
::-webkit-scrollbar {
  width: 3px;
}


::-webkit-scrollbar-track {
  background: #ed7aa8; 
}
 

::-webkit-scrollbar-thumb {
  background: #FFB6C1; 
}

::-webkit-scrollbar-thumb:hover {
  background: #111; }
  
body {  background-color: transparent;
font-family: verdana;
color: #111;
font-weight: normal;
font-size: 10px;
}

p, i, div { font-family: verdana;
font-size: 10px; 
color: #111;
background-color: rgba(255,255,255,0.5);
padding-bottom: 0px
}

h2, h3 {
background-color: #ec79a8;
padding: 5px;
border: 2px;
border-style:solid;
border-color: #b35d87;
}

img {
	padding: 3px;
  height: 20%;
  width: 20%;
}

td {
     font-family: verdana;
     font-size: 10px;
     color: #999;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     padding-bottom: 0;
}
</style>



      <p>Rina Tennoji<br/>Love Live! Nijigasaki High School Idol Club</i></p>
      <p>Kyouko Sakura<br/><i>Mahou Shoujo Madoka Magica</i></p>
      <p>Ibuki Mioda<br/><i>Danganronpa 2: Goodbye Despair</i></p>
      <p>AUBREY<br/><i>OMORI</i></p>
      <p>Ai Ohto<br/><i>Wonder Egg Priority</i></p>
      <p>Riamu Yumemi<br/><i>The iDOLM@STER Cinderella Girls</i></p>
      <p>Himiko Toga<br/> <i>Boku no Hero Academia</i></p>
      <p>Chiaki Nanami<br/><i>Danganronpa 2: Goodbye Despair</i></p>